<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">
  <link
    rel="stylesheet"
    href="{{ site.baseurl }}/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
  />
  {%- feed_meta -%}
  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/img/favicons/favicon.svg" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon.png" />
  <link rel="manifest" href="{{ site.baseurl }}/assets/img/favicons/site.webmanifest" />
  <link href="https://assets.calendly.comassets/external/widget.css" rel="stylesheet">

  <!-- Calendly -->
  <script src="https://assets.calendly.comassets/external/widget.js" type="text/javascript" async></script>
  <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/ed-eh7p/30min?hide_event_type_details=1', text: 'Book a demo call now!', color: '#f43f5e', textColor: '#ffffff' }); }</script>

  {% seo %}
</head>
