<nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-gray-800"
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
        x-data="{ navbarOpen: false }"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <a
            class="flex-row text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
            href="{{ site.baseurl }}/"
            >
            <span><img class="w-8 h-8 rounded-md" src="{{ site.baseurl }}/assets/img/logo.png" alt="Zendesk Storage Offload" /></span>
          </a
          ><button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            x-on:click="navbarOpen = !navbarOpen"
          >
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent ≈
            lg:relative lg:top-0 lg:shadow-none
            absolute top-[72px] right-0 shadow-md"
          x-bind:class="navbarOpen ? '' : 'hidden'"
        >
          <ul class="flex flex-col lg:flex-row list-none mr-auto">
            <li class="flex flex-col lg:flex-row lg:items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="{{ site.baseurl }}/blog"
                ><i
                  class="lg:text-gray-300 text-gray-500 fas fa-pen text-lg leading-lg mr-2"
                ></i>
                Blog</a
              >
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://eh7p.com/zd-offload-docs/"
                ><i
                  class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"
                ></i>
                Docs</a
              >
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="{{ site.baseurl }}/pricing"
                ><i
                  class="lg:text-gray-300 text-gray-500 fas fa-money-bill text-lg leading-lg mr-2"
                ></i>
                Pricing</a
              >
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="{{ site.baseurl }}/demo"
                ><i
                  class="lg:text-gray-300 text-gray-500 fas fa-desktop text-lg leading-lg mr-2"
                ></i>
                Demo</a
              >
            </li>
          </ul>
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="flex items-center">
              <a
                class="group lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://www.zendesk.co.uk/marketplace/apps/support/1002546/attachment-storage-offload/"
                ><i
                  class="lg:text-gray-300 text-gray-500 fab text-lg leading-lg group-hover:opacity-80"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" focusable="false" viewBox="0 0 26 26">
                    <path fill="currentColor" d="M12 8.2v14.5H0zM12 3c0 3.3-2.7 6-6 6S0 6.3 0 3h12zm2 19.7c0-3.3 2.7-6 6-6s6 2.7 6 6H14zm0-5.2V3h12z"/>
                  </svg>
                </i>
                <div class="pb-2 group-hover:opacity-80">
                  <i class="lg:text-yellow-300 text-yellow-500 fas fa-star text-sm leading-sm" ></i>
                  <i class="lg:text-yellow-300 text-yellow-500 fas fa-star text-sm leading-sm" ></i>
                  <i class="lg:text-yellow-300 text-yellow-500 fas fa-star text-sm leading-sm" ></i>
                  <i class="lg:text-yellow-300 text-yellow-500 fas fa-star text-sm leading-sm" ></i>
                  <i class="lg:text-yellow-300 text-yellow-500 fas fa-star text-sm leading-sm" ></i>
                </div>
              </a>
            </li>
            <li class="flex items-center">
              <a
                href="https://zd-external-attachment-storage.eh7p.com/login"
                target="_blank"
                class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                type="button"
                style="transition: all 0.15s ease 0s;"
              >
                <i class="fas fa-arrow-alt-circle-right"></i> Sign Up
            </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>